.container{
    margin-right: 210px;
    /* width: 1200px; */
}
.dashboard{
        position: relative;
        display: block;
        
        height: 100vh;
        width: 200px;
        border-radius: 10px 0 0 20px;
      
      background-color: #f3f4f4;
}
.side{
   position:absolute;
}
.sideLink {
    margin: 3px;
    background-color: #DCDCDC;
}
.side a {
    text-align: right;
    padding: 13px 50px 13px 0px;
    
    display: block;
    font-size: 17px;
    color: #7c7788;
    font-size: 18px;
    width: 120px;
    border-radius: 7px;
    
  }
  .side a:visited {
    text-decoration: none;
  }
  .side a:link {
      text-decoration: none;
  }
  .side a:hover {
      color: black;
      font-size: 18px;
      background-color: #DCDCDC;
  }

 