/* .profilContainer {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .profilForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  input,
  select,
  .react-select-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .avatarPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .avatarImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
   */
