.lesson {
}

.lessonHeader {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lessonHeaderBtns {
  display: flex;
  gap: 16px;
}

.lessonHeaderBtns button {
  background-color: var(--background-color-dark);
  display: flex;
  gap: 8px;
  align-items: center;
}
.lessonHeader h2 {
  font-weight: 700;
}

.lessonHeader p {
  font-size: 13px;
}
.popup {
  position: relative;
  z-index: 1000;
}

.contentPop {
  padding: 10px;
}

.modalDelete {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.documentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.documentTable th {
  font-weight: 700;
}
.documentTable th,
.documentTable td {
  padding: 10px;
  text-align: center;
}

.documentTable th {
  background-color: #f2f2f2;
}

.documentTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actions button {
  background-color: transparent;
  padding: 8px;
}
.actions svg {
  fill: var(--primary-color) !important;
  scale: 1.3;
}

.addDocument {
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
  width: 100%;
  margin: 20px auto;
}

.addDocument h2 {
  margin-top: 0;
  color: #333333;
  text-align: center;
}

.addDocument form {
  display: grid;
  gap: 10px;
}

.addDocument label {
  font-weight: bold;
}

.addDocument input[type="text"],
.addDocument input[type="number"],
.addDocument input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.addDocument input[type="file"] {
  padding: 10px 0;
}

.addDocument button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.addDocument button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.addDocument .chooseFileInput {
  display: none;
}

.addDocument .chooseFileButton {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addDocument .chooseFileButton:hover {
  background-color: #0b7dda;
}
.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  direction: rtl;
}
.formContainer h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 150px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formContainer button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

.formContainer button:hover {
  background-color: var(--primary-color-dark);
}

.modalDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: var(--background-color-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 8px;
  overflow: hidden;
}
.buttonDiv {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  margin-bottom: 15px;
}
.updateLesson {
  background-color: var(--background-color-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 600px;
  margin-top: 50px;
}
.updateLessonForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  direction: rtl;
}
.updateLessonForm button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color-light);
}
.updateLessonForm button:hover {
  background-color: var(--primary-color-dark);
}


.AddLesson{  
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 250px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
 
  margin: 0 auto;

  direction: rtl;
  padding: 24px;
}

.formContainer h3 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 24px;
}

.formContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
}

.formContainer span {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.formContainer button {
  padding: 12px 24px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
   background-color: transparent;
  color: var(--text-color-light);
  text-decoration: underline;
  background-color: var(--primary-color);
  width: 100%;

} 

.formContainer button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

.formContainer button:hover {
  background-color: var(--primary-color-dark);
}
.formContainer h3{
    font-weight: 700;
    margin-bottom: 15px;
  }