.container {
  display: flex;
  justify-content: center;

  height: calc(100vh - 80px);
  background-color: red;
}
.containerContent {
  min-width: 100%;
  padding: 20px 130px;
  background-color: var(--background-color-dark);
}
.videoContainer {
  height: 600px;
  width: 100%;
  background-color: yellow;

}
.commentsContainer {
  min-width: none;
  min-height: 50px;
  border: 1px solid var(--border-color);
  padding: 10px;
  display: block;
  background-color: var(--background-color-side);
}
.comment {
  display: flex;

  margin-bottom: 8px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;

}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: aqua;
  margin-right: 5px;

}

.commentContent {
width: 100%;

}

.commentHeader {
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.iconsd button{
    padding: 7px 12px;
    background-color: rgb(185, 182, 182);
    margin-left: 5px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.comment p {
  color: var(--text-color);
}
.content button{
     padding: 4px;
     margin: 5px;
}
.replies{
    background-color: rgb(225, 233, 240);
    padding: 5px;
    margin-bottom: 8px;
}