/* Switch.css */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.3s;
}
.switch-label .switch-button {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: transform 0.3s;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.switch-checkbox:checked + .switch-label .switch-button {
  transform: translateX(20px);
}
.switch-checkbox:checked + .switch-label {
  background: #4f86f7;
}
.switch-label:active .switch-button {
  width: 20px;
}
